@model IEnumerable<WebHalk.Data.Entities.Identity.UserEntity>

<div class="container mt-4">
    <h2>Список користувачів</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Email</th>
                <th>Ім'я</th>
                <th>Фамілія</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>
                        @if (user.LockoutEnd.HasValue && user.LockoutEnd.Value > DateTimeOffset.Now)
                        {
                            <form asp-action="UnblockUser" method="post" class="d-inline">
                                <input type="hidden" name="userId" value="@user.Id" />
                                <button type="submit" class="btn btn-danger">Розблокувати</button>
                            </form>
                        }
                        else
                        {
                            <form asp-action="BlockUser" method="post" class="d-inline">
                                <input type="hidden" name="userId" value="@user.Id" />
                                <button type="submit" class="btn btn-warning">Заблокувати</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
